<main>
    <h2>Task Management</h2>

    <section class="tasks-table-section">
        <header class="tasks-table-section-header">
            <div class="top-statuses-container">
                <div>ALL TASKS</div>
                <div>TO DO</div>
                <div>IN PROGRESS</div>
                <div>DONE</div>
                <div>IN REVIEW</div>
            </div>

            <button class="new-task-btn">+ NEW TASK</button>
        </header>

        <p-table [value]="tasks" dataKey="id">
            <ng-template #header>
                <tr>
                    <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Activity Type</th>
                    <th>Due Date</th>
                    <th>Assigned To</th>
                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template #body let-task>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="task" />
                    </td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.activityType }}</td>
                    <td>{{ task.dueDate | date:'mediumDate' }}</td>
                    <td>{{ task.assignedTo }}</td>
                    <td><p-select [options]="statusOptions" [(ngModel)]="task.status"
                            class="w-full md:w-56" /></td>
                </tr>
            </ng-template>
        </p-table>
    </section>
</main>