main {
    position: relative;
    height: 100vh;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('/auth-background.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 57.5% 0, 50% 100%, 0 100%);
    z-index: -1;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('/auth-background.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 57.5% 0, 50% 100%, 0 100%);
    z-index: -1;
}

#login-container {
    background-color: rgba(255, 255, 255, 1);
    padding: 2rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    // height: 55vh;
    width: 25rem;
    position: absolute;
    left: 64.5%;
    top: 50%;
    transform: translateX(0%);
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    // border: 1px solid red;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.form-field-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-field-label {
    font-weight: bold;
    color: rgb(6 48 72);
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
}

:host ::ng-deep .auth-form p-password,
:host ::ng-deep .auth-form p-password .p-password {
    width: 100%;
}

:host ::ng-deep .auth-form input {
    border: 4px solid rgba(6, 48, 72, 0.367);
    border-radius: 13px;
    outline: none;
    width: 100% !important;
    padding: 0.6rem 1rem;
    transition: border-color 0.3s ease;
}

:host ::ng-deep .auth-form input:focus {
    border-color: rgb(6 48 72);
}

small {
    color: rgb(6, 48, 72);
    text-align: right;
    font-size: 0.75rem;
}

.submit-btn {
    background-color: rgb(6, 48, 72);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 13px;
    cursor: pointer;
    font-size: 1.5rem;
    width: 100%;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: rgb(20, 76, 109);
}

p {
    text-align: center;
}

#logo-img {
    margin-bottom: 1rem;
}

:host ::ng-deep .auth-form .p-select {
    width: 100%;
}

:host ::ng-deep .auth-form .p-select {
    border: 4px solid rgba(6, 48, 72, 0.367);
    border-radius: 13px;
    width: 100% !important;
    padding: 0;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

:host ::ng-deep .auth-form .p-select.p-focus {
    border-color: rgb(6, 48, 72);
}