/* .layout {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
  }
  
  .main-content {
    flex: 1;
    transition: margin-left 0.3s ease;
  }
   */


.content-wrapper {
  transition: margin-left 0.3s ease-in-out;
  padding: 1rem;
}

/* Sidebar width effect */
.drawer-open {
  margin-left: 320px;
  /* Adjust to your sidebar width */
}