<main>
    <section class="animate__animated animate__fadeIn animate__slower">
        <h1>
            Weekly Overview
            <span class="overview-date">
                ({{ weekStartDate | date: 'MMM d, y' }} - {{ weekEndDate | date: 'MMM d, y' }})
            </span>
        </h1>
    </section>

    <section class="top-section animate__animated animate__fadeIn">
        <div class="top-info-card-row">
            <div class="top-info-card">
                <div class="info-label">Project Title</div>
                <div class="info-value">{{ ProjectOverview?.project?.title }}</div>
            </div>
            <div class="top-info-card">
                <div class="info-label">Company Name</div>
                <div class="info-value">{{ ProjectOverview?.project?.company }}</div>
            </div>
            <div class="top-info-card">
                <div class="info-label">Project Status</div>
                <div class="info-value">{{ ProjectOverview?.project?.projectStatus }}</div>
            </div>
        </div>

        <div class="top-info-card-row">
            <div class="top-info-card">
                <div class="info-label">Approved Budget</div>
                <div class="info-value">{{ ProjectOverview?.project?.totalApprovedBudget | currency }}</div>
            </div>
            <div class="top-info-card">
                <div class="info-label">Disbursed Budget</div>
                <div class="info-value">{{ ProjectOverview?.project?.totalDisbursedBudget | currency }}</div>
            </div>
            <div class="top-info-card">
                <div class="info-label">Remaining Budget</div>
                <div class="info-value">{{ ProjectOverview?.project?.totalRemainingBudget | currency }}</div>
            </div>
        </div>
    </section>

    <section class="bottom-cards-section">
        <section class="bottom-cards-section-left">
            <section class="tasks-report-section animate__animated animate__fadeInLeft">
                <header>
                    Tasks Report
                    <!-- <br> -->
                    <small style="display: block;">(Overall project)</small>
                </header>
                <div class="tasks-report-section-content-container">
                    <div class="tasks-count-container">
                        <div class="task-count">{{ ProjectOverview?.toDoTasks }}</div>
                        <div class="task-label">To-do Tasks</div>
                    </div>
                    <div class="tasks-count-container">
                        <div class="task-count">{{ ProjectOverview?.completedTasks }}</div>
                        <div class="task-label">Completed Tasks</div>
                    </div>
                    <div class="tasks-count-container">
                        <div class="task-count">{{ ProjectOverview?.remainingTasks }}</div>
                        <div class="task-label">Remaining</div>
                    </div>
                </div>
                <footer>
                    <p-progressbar [value]="ProjectOverview?.progressPercentage" styleClass="custom-progress" />
                </footer>
            </section>

            <section class="project-notifications-section animate__animated animate__fadeInUp">
                <header>
                    <i class="pi pi-bell"></i>Project Notification
                </header>

                <div class="notifications-container">
                    <div class="notification-container" *ngFor="let notification of ProjectOverview?.notifications">
                        <i class="pi pi-caret-right"></i>
                        <p>{{ notification.title}} in {{notification.timeRemaining}}</p>
                    </div>
                </div>

                <!-- <footer>
                    <small>See more</small>
                </footer> -->
            </section>
        </section>
        <section class="right-cards-section animate__animated animate__fadeInDown">
            <div class="right-card">
                <div class="right-card-header">
                    <div>Active Tasks</div>
                </div>
                <div class="right-card-body">
                    <div class="right-card-content">
                        <div>{{ ProjectOverview?.activeTasks }}</div>
                        <a href="">See more</a>
                    </div>
                    <div class="right-card-footer">
                        <!-- <span><i class="pi pi-wave-pulse"></i>15</span> vs <span>last 7 days</span> -->
                    </div>
                </div>
            </div>
            <div class="right-card">
                <div class="right-card-header">
                    <div>Upcoming Tasks</div>
                </div>
                <div class="right-card-body">
                    <div class="right-card-content">
                        <div>{{ ProjectOverview?.upcomingTasks }}</div>
                        <a href="">See more</a>
                    </div>
                    <div class="right-card-footer">
                        <span>View Calendar</span>
                    </div>
                </div>
            </div>
            <div class="right-card">
                <div class="right-card-header">
                    <div>Pending Tasks</div>
                </div>
                <div class="right-card-body">
                    <div class="right-card-content">
                        <div>{{ ProjectOverview?.pendingTasks }}</div>
                        <a href="">See more</a>
                    </div>
                    <div class="right-card-footer">
                        <!-- <span>Last Claim Approved 60 Days ago</span> -->
                    </div>
                </div>
            </div>
            <div class="right-card">
                <div class="right-card-header">
                    <div>Budget Status</div>
                </div>
                <div class="right-card-body">
                    <div class="right-card-content">
                        <div>{{ ProjectOverview?.budgetPercentageUsed }}%</div>
                        <a href="">See more</a>
                    </div>
                    <div class="right-card-footer">
                        <!-- <span>Last Budget Approved 2 Days ago</span> -->
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="status-description-section animate__animated animate__fadeInUp">
        <header class="flex items-center justify-between">
            <span>Status</span>
            <button *ngIf="!isEditing" (click)="enableEdit()" class="icon-btn" style="cursor: pointer;">
                <i class="pi pi-pencil"></i>
            </button>
            <button *ngIf="isEditing" (click)="saveStatusDescription()" class="icon-btn" style="cursor: pointer;">
                <i class="pi pi-check"></i>
            </button>
        </header>

        <div class="description-text">
            <span *ngIf="!isEditing">{{ ProjectOverview?.project?.status }}</span>
            <input *ngIf="isEditing" [(ngModel)]="editableStatus" type="text" class="editable-input" />
        </div>
    </section>


</main>