<main>
    <section class="animate__animated animate__fadeIn animate__slower">
        <h1>
            Weekly Overview
            <span class="overview-date">
                ({{ weekStartDate | date: 'MMM d, y' }} - {{ weekEndDate | date: 'MMM d, y' }})
            </span>
        </h1>
    </section>

    <section class="top-cards-section animate__animated animate__fadeInDown">
        <div class="top-card">
            <div class="top-card-header">
                <div>Active Tasks</div>
            </div>
            <div class="top-card-body">
                <div class="top-card-content">
                    <div>{{ ProjectOverview?.activeTasks }}</div>
                    <a href="">See more</a>
                </div>
                <div class="top-card-footer">
                    <!-- <span><i class="pi pi-wave-pulse"></i>15</span> vs <span>last 7 days</span> -->
                </div>
            </div>
        </div>
        <div class="top-card">
            <div class="top-card-header">
                <div>Upcoming Tasks</div>
            </div>
            <div class="top-card-body">
                <div class="top-card-content">
                    <div>{{ ProjectOverview?.upcomingTasks }}</div>
                    <a href="">See more</a>
                </div>
                <div class="top-card-footer">
                    <span>View Calendar</span>
                </div>
            </div>
        </div>
        <div class="top-card">
            <div class="top-card-header">
                <div>Pending Tasks</div>
            </div>
            <div class="top-card-body">
                <div class="top-card-content">
                    <div>{{ ProjectOverview?.pendingTasks }}</div>
                    <a href="">See more</a>
                </div>
                <div class="top-card-footer">
                    <!-- <span>Last Claim Approved 60 Days ago</span> -->
                </div>
            </div>
        </div>
        <div class="top-card">
            <div class="top-card-header">
                <div>Budget Status</div>
            </div>
            <div class="top-card-body">
                <div class="top-card-content">
                    <div>{{ ProjectOverview?.budgetPercentageUsed }}%</div>
                    <a href="">See more</a>
                </div>
                <div class="top-card-footer">
                    <!-- <span>Last Budget Approved 2 Days ago</span> -->
                </div>
            </div>
        </div>
    </section>
    <section class="bottom-cards-section">
        <section class="bottom-cards-section-left">
            <section class="tasks-report-section animate__animated animate__fadeInLeft">
                <header>
                    Tasks Report
                    <small>(Overall project)</small>
                </header>
                <div class="tasks-report-section-content-container">
                    <div class="tasks-count-container">
                        <div class="task-count">{{ ProjectOverview?.toDoTasks }}</div>
                        <div class="task-label">To-do Tasks</div>
                    </div>
                    <div class="tasks-count-container">
                        <div class="task-count">{{ ProjectOverview?.completedTasks }}</div>
                        <div class="task-label">Completed Tasks</div>
                    </div>
                    <div class="tasks-count-container">
                        <div class="task-count">{{ ProjectOverview?.remainingTasks }}</div>
                        <div class="task-label">Remaining</div>
                    </div>
                </div>
                <footer>
                    <p-progressbar [value]="ProjectOverview?.progressPercentage" styleClass="custom-progress" />
                </footer>
            </section>

            <section class="project-notifications-section animate__animated animate__fadeInUp">
                <header>
                    <i class="pi pi-bell"></i>Project Notification
                </header>

                <div class="notifications-container">
                    <div class="notification-container" *ngFor="let notification of ProjectOverview?.notifications">
                        <i class="pi pi-caret-right"></i>
                        <p>{{ notification.title}} in {{notification.timeRemaining}}</p>
                    </div>
                </div>

                <!-- <footer>
                    <small>See more</small>
                </footer> -->
            </section>
        </section>
        <section class="bottom-cards-section-right animate__animated animate__fadeInRight">
            <header>
                Recent Updates
            </header>

            <div class="recent-updates-container">
                <ul class="custom-list">
                    <!-- <li>Task 02 is scheduled in 02 days</li>
                    <li>Task 02 is scheduled in 02 days</li>
                    <li>Task 02 is scheduled in 02 days</li>
                    <li>Task 02 is scheduled in 02 days</li> -->
                </ul>
            </div>

        </section>
    </section>
</main>