<p-dialog
    [(visible)]="display"
    [modal]="true"
    [closeOnEscape]="true"
    [dismissableMask]="true"
    (onHide)="close()"
    [style]="{width: '350px', borderRadius: '20px'}"
    [header]="''"
    contentStyleClass="animate__animated animate__zoomIn animate__faster">

    <form [formGroup]="form" class="dialog-container" style="overflow: hidden;">

        <!-- Logo -->
        <div class="logo-container animate__animated animate__bounceIn animate__faster" style="animation-delay: 0.05s;">
            <img src="mi_logo.png" alt="Logo" class="dialog-logo" />
        </div>

        <!-- Fields -->
        <div class="form-group animate__animated animate__fadeInUp animate__faster" style="animation-delay: 0.1s;">
            <label for="description">Description</label>
            <input id="description" type="text" pInputText formControlName="description" />
        </div>

        <div class="form-group animate__animated animate__fadeInUp animate__faster" style="animation-delay: 0.15s;">
            <label for="amount">Amount</label>
            <input id="amount" type="number" pInputText formControlName="amount" />
        </div>

        <div class="form-group animate__animated animate__fadeInUp animate__faster" style="animation-delay: 0.2s;">
            <label for="date">Date</label>
            <p-datepicker formControlName="date" inputId="date" dateFormat="yy-mm-dd" [showTime]="true"
                appendTo="body" />
        </div>

        <div class="form-group animate__animated animate__fadeInUp animate__faster" style="animation-delay: 0.25s;">
            <label for="document">Link a document</label>
            <p-select id="document" type="file" pInputText formControlName="documentId" />
        </div>

        <!-- Button -->
        <div class="submit-btn-container animate__animated animate__fadeInUp animate__faster" style="animation-delay: 0.3s;">
            <button pButton type="button" label="Submit Now" class="submit-btn" (click)="submit()"></button>
        </div>
    </form>
</p-dialog>
