<p-dialog [(visible)]="display" [modal]="true" [closeOnEscape]="true" [dismissableMask]="true" (onHide)="close()"
    [style]="{width: '350px', borderRadius: '20px'}" [header]="''"
    contentStyleClass="animate__animated animate__zoomIn animate__faster">

    <form [formGroup]="form" class="dialog-container" style="overflow: hidden;">

        <!-- Logo -->
        <div class="logo-container animate__animated animate__bounceIn animate__faster" style="animation-delay: 0.05s;">
            <img src="/MCL Jasco logo 2.avif" alt="Logo" class="dialog-logo" />
        </div>

        <!-- Fields -->
        <div class="form-group animate__animated animate__fadeInUp animate__faster" style="animation-delay: 0.1s;">
            <label for="description">Description</label>
            <input id="description" type="text" pInputText formControlName="description" />
        </div>

        <div class="form-group animate__animated animate__fadeInUp animate__faster" style="animation-delay: 0.25s;">
            <label for="units">Units</label>
            <input id="units" type="number" pInputText formControlName="units" />
        </div>

        <div class="form-group animate__animated animate__fadeInUp animate__faster" style="animation-delay: 0.3s;">
            <label for="rate">Rate</label>
            <input id="rate" type="number" pInputText formControlName="rate" />
        </div>

        <div class="form-group animate__animated animate__fadeInUp animate__faster" style="animation-delay: 0.15s;">
            <label for="amount">Amount</label>
            <input id="amount" type="number" pInputText formControlName="amount" />
        </div>

        <div class="form-group animate__animated animate__fadeInUp animate__faster" style="animation-delay: 0.2s;">
            <label for="date">Date</label>
            <p-datepicker formControlName="date" inputId="date" dateFormat="mm/dd/yy" [showTime]="true" [style]="{ width: '100%' }"
                appendTo="body" />
        </div>

        <div class="form-group animate__animated animate__fadeInUp animate__faster" style="animation-delay: 0.25s;">
            <label for="claim">Link to claim</label>
            <p-dropdown id="claim" formControlName="claimNumber" [options]="claimOptions"
                (onChange)="onClaimChange($event)" optionLabel="label" optionValue="value"
                placeholder="Select or add claim" appendTo="body">
            </p-dropdown>
        </div>

        <!-- Button -->
        <div class="submit-btn-container animate__animated animate__fadeInUp animate__faster"
            style="animation-delay: 0.3s;">
            <button pButton type="button" [label]="disbursementLogId ? 'Update' : 'Submit Now'" class="submit-btn"
                (click)="submit()"></button>
        </div>
    </form>
</p-dialog>