<main>
    <header class="main-header">
        <section class="header-section-left">
            <div>Project ID: {{ operationsSummary?.project?.awardNumber }}</div>
            <div>Deliverable Types:
                <b *ngFor="let type of operationsSummary?.deliverableTypes; let isLast = last">
                    {{ type }}<span *ngIf="!isLast">, </span>
                </b>
            </div>
            <div>Tasks Completed: {{ operationsSummary?.tasksCompletedPercent }}%</div>
            <div>{{ operationsSummary?.project?.projectStatus }}</div>
        </section>

        <section class="header-section-right">
            <div>TASK SUMMARY</div>
            <div>Total No. of Events: <b>{{ operationsSummary?.totalNumberOfEvents }}</b></div>
            <div>Budgeted No. of Events: <b>{{ operationsSummary?.budgetedNumberOfEvents }}</b></div>
            <div>Remaining No. of Events: <b>{{ operationsSummary?.remainingNumberOfEvents }}</b></div>
        </section>
    </header>

    <div class="main-body">
        <section class="body-section-left">
            <header class="body-section-left-header">
                <div>
                    <i class="pi pi-check-circle"></i> My To Do Items
                </div>

                <!-- <div class="body-section-left-header-btns">
                    <button class="body-section-left-header-btn">View All</button>
                    <div class="btn-separator"></div>
                    <button class="body-section-left-header-btn">New To Do</button>
                </div> -->
            </header>

            <div class="main-body-to-do-body">
                <section class="latest-to-do-section">
                    <div class="latest-to-do-section-heading"><i class="pi pi-exclamation-triangle"></i> Latest to do's
                    </div>
                    <div class="latest-to-do-continer">
                        <ul>
                            @for (item of operationsSummary?.latestTodoTasks; track $index) {
                            <li class="latest-to-do-item">
                                <div>⋮⋮</div>
                                <!-- <p-checkbox [binary]="true" /> -->
                                <div class="latest-to-do-item-content">
                                    <div class="latest-to-do-item-title">{{ item.title }}</div>
                                    <div class="latest-finished-to-do-item-details">
                                        <small class="latest-finished-to-do-item-date">{{ item.endDate|
                                            date:'MM/dd/yyyy' }}</small>
                                        <!-- <div>
                                            <i class="pi pi-pencil"></i>
                                            <i class="pi pi-times"></i>
                                        </div> -->
                                    </div>
                                </div>
                            </li>}
                        </ul>
                    </div>
                    <div class="latest-finished-to-do-continer">
                        <div class="latest-finished-to-do-section-heading"><i class="pi pi-check"></i> Latest finished
                            to
                            do's
                        </div>
                        <ul>
                            @for (item of operationsSummary?.latestFinishedTasks; track $index) {
                            <li class="latest-finished-to-do-item">
                                <div>⋮⋮</div>
                                <!-- <p-checkbox [binary]="true" /> -->
                                <div class="latest-finished-to-do-item-content">
                                    <div class="latest-finished-to-do-item-title">{{ item.title }}</div>
                                    <div class="latest-finished-to-do-item-details">
                                        <small class="latest-finished-to-do-item-date">{{ item.completedOn |
                                            date:'mediumDate' }}</small>
                                        <!-- <div>
                                            <i class="pi pi-pencil"></i>
                                            <i class="pi pi-times"></i>
                                        </div> -->
                                    </div>
                                </div>
                            </li>}
                        </ul>
                    </div>
                </section>
            </div>
        </section>
        <section class="body-section-right">
            <header class="body-section-right-header">
                <div (click)="loadTasks('DUE_TODAY')">Activities Due Today</div>
                <div (click)="loadTasks('DUE_THIS_WEEK')">Activities Due This Week</div>
                <div (click)="loadTasks('OVERDUE')">Over Due Activities</div>
            </header>
            <p-table [value]="operationsSummary?.tasks || []" dataKey="id">
                <ng-template #header>
                    <tr class="animate__animated animate__fadeIn">
                        <!-- <th style="width: 4rem"><p-tableHeaderCheckbox /></th> -->
                        <th>Title</th>
                        <th>Activity Type</th>
                        <th>Due Date</th>
                        <th>Assigned To</th>
                    </tr>
                </ng-template>
                <ng-template #body let-task>
                    <tr class="animate__animated animate__fadeIn animate__slow">
                        <!-- <td>
                            <p-tableCheckbox [value]="task" />
                        </td> -->
                        <td>{{ task.title }}</td>
                        <td>{{ task.activityTypeName }}</td>
                        <td>{{ task.endDate | date:'MM/dd/yyyy' }}</td>
                        <td>{{ task.assigneeName }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </section>
    </div>
</main>