<div [class.drawer-open]="isDrawerOpen">
    <p-toolbar [style]="{'padding': '1rem 1.5rem', 'background': 'linear-gradient(90deg, #337361, #36a785 )', 'color': 'white'}">
        <ng-template #start>
            <p-button icon="pi pi-bars" class="mr-2" (onClick)="hamburgerBtnClickHandler()" text />
            <!-- 
            <p-iconfield styleClass="custom-search-field">
                <input pInputText [(ngModel)]="search" placeholder="Search" />
                <p-inputicon class="pi pi-search" />
            </p-iconfield> -->

        </ng-template>


        <ng-template #center>

            <p-select [options]="projects" [(ngModel)]="selectedProject" optionLabel="title" [filter]="true"
                filterBy="title,awardNumber" placeholder="Select a Project" class="w-full" [style]="{ width: '100%' }"
                [panelStyle]="{ width: '100%' }" (onChange)="onProjectSelected()" *ngIf="selectVisible">
                <ng-template #selectedItem let-selectedOption>
                    <div class="selected-project">
                        <div>{{selectedOption.title}}</div>
                        <div>({{selectedOption.awardNumber}})</div>
                    </div>
                </ng-template>
                <ng-template let-project #item>

                    <div class="projects-list">
                        <div>{{project.title}}</div>
                        <div>{{project.awardNumber}}</div>
                    </div>

                </ng-template>
            </p-select>
        </ng-template>


        <ng-template #end>
            <p-menu #menu [model]="topMenuItems" [popup]="true" />
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                [style]="{ width: '32px', height: '32px', cursor: 'pointer' }" (click)="menu.toggle($event)" />
        </ng-template>
    </p-toolbar>
</div>